.bi-alarm {
    color: forestgreen;
}

.bi-thermometer-half {
    color: royalblue;
}

.bi-droplet {
    color: cadetblue;
}

.bi-brightness-high {
    color: orange;
}

.bi-search {
    color: lightslategray;
}

.bi-cloud {
    color: lightcoral;
}

.bi-droplet-half {
    color: steelblue;
}

.bi-truck {
    color: deeppink;
}

.bi-person {
    color: darkslategrey;
}

.bi-hourglass {
    color: darkorange;
}

.bi-stars {
    color: yellowgreen;
}

.bi-sunset {
    color: coral;
}

.bi-flag {
    color: pink;
}

.bi-arrow-up-left {
    color: dodgerblue;
}

.bi-chevron-double-left {
    color: darkseagreen;
}